@import 'tailwindcss';

@import "tailwindcss";

 

@font-face {
    font-family: 'ibmps';
    /* src: url('/assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf') ; */
    src: url('../../public/assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf') ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'ibmps';
    /* src: url('/assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf') ; */
    src: url('../../public/assets/fonts/ibmps/IBMPlexSansArabic-Medium.ttf') ;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ibmps';
    /* src: url('/assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf') ; */
    src: url('../../public/assets/fonts/ibmps/IBMPlexSansArabic-SemiBold.ttf') ;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ibmps';
    /* src: url('/assets/fonts/ibmps/IBMPlexSansArabic-Regular.ttf') ; */
    src: url('../../public/assets/fonts/ibmps/IBMPlexSansArabic-Bold.ttf') ;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: "tsh";
	/* src: url("/assets/fonts/tsh200.woff2") format("woff2"), url("/assets/fonts/tsh200.woff") format("woff"); */
	src: url('../../public/assets/fonts/tsh200.woff2') format("woff2"), url('../../public/assets/fonts/tsh200.woff') format("woff");
	font-style: normal;
	font-weight: 300;
	font-display: auto;
}
@font-face {
	font-family: "tsh";
	/* src: url("/assets/fonts/tsh400.woff2") format("woff2"), url("/assets/fonts/tsh400.woff") format("woff"); */
	src: url('../../public/assets/fonts/tsh400.woff2') format("woff2"), url('../../public/assets/fonts/tsh400.woff') format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: auto;
}
 

@theme {
    --font-sans:   'tsh',  ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@plugin "daisyui" {
  themes: emerald, cmyk --default,  cupcake;
}
 
.input, .textarea, .select {
    &:focus, &:focus-within {
        outline: 1px solid var(--input-color);
        outline-offset: 0px;
    }
}



@source '../views/dashboard/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';





.ck-powered-by {
    display: none !important;
}

.ck.ck-reset_all,
.ck-reset_all *:not(.ck-reset_all-excluded *) {
    text-align: unset !important;

    font-family: unset !important;
}

.ck-source-editing-area textarea {
    direction: ltr !important;
}

.ck.ck-editor__main > .ck-editor__editable {
    padding: 16px 15px !important;
    font-size: 90%;
    line-height: 2;
}

/*
 * Copyright (c) 2003-2024, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
 */

:root {
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
}

.ck-content {
    /* See: https://github.com/ckeditor/ckeditor5/issues/16317 */
    & .image {
        /* Provides a minimal side margin for the left and right aligned images, so that the user has a visual feedback
		confirming successful application of the style if image width exceeds the editor's size.
		See https://github.com/ckeditor/ckeditor5/issues/9342 */
        &.image-style-block-align-left,
        &.image-style-block-align-right {
            max-width: calc(100% - var(--ck-image-style-spacing));
        }

        /* Allows displaying multiple floating images in the same line.
		See https://github.com/ckeditor/ckeditor5/issues/9183#issuecomment-804988132 */
        &.image-style-align-left,
        &.image-style-align-right {
            clear: none;
        }

        &.image-style-side {
            float: right;
            margin-left: var(--ck-image-style-spacing);
            max-width: 50%;
        }

        &.image-style-align-left {
            float: left;
            margin-right: var(--ck-image-style-spacing);
        }

        &.image-style-align-right {
            float: right;
            margin-left: var(--ck-image-style-spacing);
        }

        &.image-style-block-align-right {
            margin-right: 0;
            margin-left: auto;
        }

        &.image-style-block-align-left {
            margin-left: 0;
            margin-right: auto;
        }
    }

    & .image-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    & .image-style-align-left {
        float: left;
        margin-right: var(--ck-image-style-spacing);
    }

    & .image-style-align-right {
        float: right;
        margin-left: var(--ck-image-style-spacing);
    }

    /* Simulates margin collapsing with the preceding paragraph, which does not work for the floating elements. */
    & p + .image.image-style-align-left,
    & p + .image.image-style-align-right,
    & p + .image.image-style-side {
        margin-top: 0;
    }

    & .image-inline {
        &.image-style-align-left,
        &.image-style-align-right {
            margin-top: var(--ck-inline-image-style-spacing);
            margin-bottom: var(--ck-inline-image-style-spacing);
        }

        &.image-style-align-left {
            margin-right: var(--ck-inline-image-style-spacing);
        }

        &.image-style-align-right {
            margin-left: var(--ck-inline-image-style-spacing);
        }
    }
}

.ck.ck-splitbutton {
    /* The button should display as a regular drop-down if the action button
	is forced to fire the same action as the arrow button. */
    &.ck-splitbutton_flatten {
        &:hover,
        &.ck-splitbutton_open {
            & > .ck-splitbutton__action:not(.ck-disabled),
            & > .ck-splitbutton__arrow:not(.ck-disabled),
            & > .ck-splitbutton__arrow:not(.ck-disabled):not(:hover) {
                background-color: var(--ck-color-button-on-background);

                &::after {
                    display: none;
                }
            }
        }

        &.ck-splitbutton_open:hover {
            & > .ck-splitbutton__action:not(.ck-disabled),
            & > .ck-splitbutton__arrow:not(.ck-disabled),
            & > .ck-splitbutton__arrow:not(.ck-disabled):not(:hover) {
                background-color: var(--ck-color-button-on-hover-background);
            }
        }
    }
}
