
<!-- Name, Title and Logo Row -->
<div class="flex items-center gap-x-3 mb-5 px-4">
    <!-- Logo -->
    <img src="{{ tenant('logo') }}" alt="{{ tenant('name') }}" class="size-14 rounded-xl flex items-center justify-center bg-white shadow-sm object-cover">
    
    <!-- Name and Title -->
    <div class="flex-1">
        <h1 class="text-xl font-bold text-gray-900 mb-1" >{{ tenant('name') }} </h1>
        <p class="text-gray-600 text-sm mb-1">{{ tenant('meta.slogan.'~locale()) }}   </p>
    </div>
</div>
 