<!-- About Section -->
<div class="p-px">
    {% if agreement_title %}
    <h3 class="text-base font-bold text-gray-900 p-5 bg-gray-50 w-full">   
         {{agreement_title}}
    </h3>
    {% endif %}
    
    <div class="{{editorStyle()}} p-6">
        {{agreement_content | raw}}
    </div>
</div>
 
