<!-- Floating Language Buttons - Mobile (Inside Header Image) -->
<div class="md:hidden absolute top-2 right-2 flex items-center gap-2 z-20">
    {% for link in links %}
        <a href="{{link.link}}" target="_blank" class="flex items-center  text-white/80 p-2  rounded-xl bg-black/40  hover:bg-black/30">
            <span class="size-6">{% include 'assets/icons/social/brand-'~data_get(link, 'meta.network')~'.svg' ignore missing %}   </span>
        </a>
    {% endfor %}
</div>
